.about {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    /* background: radial-gradient(ellipse at center top,
            blue 0%,
            var(--color-bg-deep)70%); */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.about-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 95%;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 5%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 5%);
}

.about-text {
    color: var(--color-text-primary);
    font-size: 17rem;
    margin: 0;
    line-height: 1;
    font-family: var(--font-display);
    z-index: 2;
}

.about-subtext {
    color: var(--color-text-primary);
    font-size: 1.75rem;
    text-align: center;
    font-family: var(--font-body);
    z-index: 2;
}