.timeline {
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100%;

    backdrop-filter: blur(50px);

    background: rgba(4, 27, 44, 0.35);
    /* tinted glass */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}